@{
    ViewBag.Title = "James Glover | Home";
}

@section Masthead {
    <section class="masthead masthead-main text-center d-flex justify-content-center">
        <div>
            <h1 class="mb-5">James Glover</h1>
            <h2>Web Developer</h2>
        </div>
    </section>
}

<section class="row">
    <article class="col-md-8 col-sm-12">
        <h1 class="section-headline text-center">About Me</h1>
        <p>
            I'm James Glover and I'm a Web Developer based out of the Kansas City metropolitan area. I have always had a passion for technology and programming. I love the problem solving aspect and fulfillment of creating something with just lines of code. My time in the Army has taught me the values of teamwork, leadership, self-discipline, attention to detail, problem solving and critical thinking. These values have carried over into my new career as a developer.
        </p>
        <p>
            If you are interested in someone who has a passion for technology and development please contact me by email or Linked In. I look forward to hearing from you.
        </p>
    </article>
    <aside class="col-md-4 col-sm-12 about-me-aside m-auto">
        <img src="~/Content/assets/img/JamesGlover2-crop.jpg" class="profile-image m-auto img-fluid rounded-circle" alt="James Glover" />
    </aside>
</section>
<section class="skills">
    <h2 class="section-headline text-center mb-5">Skills</h2>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/html-5.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/css3.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/javascript.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/c-sharp-logo.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/java.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/jquery.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/bootstrap.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/sql.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/react.svg">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $("header").addClass('header-main-page');

        $('#recipeCarousel').carousel({
            interval: 5000
        })

        $('.carousel .carousel-item').each(function () {
            var minPerSlide = 3;
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < minPerSlide; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
}
