@{
    ViewBag.Title = "James Glover | Web Developer";
}


<section class="row section-part" id="about-me">
    <article class="col-md-8 col-sm-12">
        <h1 class="section-headline text-center">About Me</h1>
        <p>
            I'm James Glover and I'm a Web Developer based out of the Kansas City metropolitan area. I have always had a passion for technology and programming. I love the problem solving aspect and fulfillment of creating something with just lines of code. My time in the Army has taught me the values of teamwork, leadership, self-discipline, attention to detail, problem solving and critical thinking. These values have carried over into my new career as a developer.
        </p>
        <p>
            If you are interested in someone who has a passion for technology and development please contact me by email or Linked In. I look forward to hearing from you.
        </p>
    </article>
    <aside class="col-md-4 col-sm-12 about-me-aside m-auto">
        <img src="~/Content/assets/img/JamesGlover2-crop.jpg" class="profile-image m-auto img-fluid rounded-circle" alt="James Glover" />
    </aside>
</section>

@* skiils *@

<section class="skills section-part bg-light" id="skills">
    <h2 class="section-headline text-center mb-5">Skills</h2>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/html-5.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/css3.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/javascript.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/c-sharp-logo.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/java.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/jquery.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/bootstrap.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/sql.svg">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="~/Content/assets/img/logos/react.svg">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

@* Resume *@

<section class="resume section-part" id="resume">
    <div data-aos="fade-up">

        <div class="section-title">
            <h2 class="section-headline text-center mb-5">Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>James Glover</h4>
                    <p><em>Highly motivated United States Army veteran with skills in leadership, teamwork, problem solving and communication looking to transition into a career in software development. Experienced in daily assignments, employee training and adapting to change.</em></p>
                    <ul>
                        <li><a href="mailto:james.e.glover57@gmail.com" class="personal-info">james.e.glover57@gmail.com</a></li>
                        <li><a href="https://www.linkedin.com/in/james-glover-126105135/" target="_blank" class="personal-info">LinkedIn Profile</a></li>
                        <li><a href="https://github.com/james479" target="_blank" class="personal-info">Github Profile</a></li>
                        <li><a href="https://www.hackerrank.com/James479" target="_blank" class="personal-info">HackerRank Profile</a></li>
                    </ul>
                </div>

                <h3 class="resume-title school">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Developer Program</h4>
                    <h5>Dec. 2020 - Mar. 2021</h5>
                    <p><em>Centriq Training, Kansas City, MO</em></p>
                    <p>Core Competencies: MVC Framework, Website Deployment, Trouble Shooting and Debugging, Source Control, Code Review, Agile/Scrum</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science in Computer Science</h4>
                    <h5>Sep. 2014 - Dec. 2020</h5>
                    <p><em>University of Maryland Global Campus, Adelphi, MD</em></p>
                </div>
                <h3 class="resume-title school">Technical Skills</h3>
                <div class="resume-item">
                    <div class="d-flex justify-content-around">

                        <div>
                            <h4>Front End</h4>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>Bootstrap</li>
                                <li>ReactJS</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Middle Tier</h4>
                            <ul>
                                <li>C#</li>
                                <li>Java</li>
                                <li>ASP.NET</li>
                                <li>LINQ</li>
                                <li>MVC</li>
                                <li>EF</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Back End</h4>
                            <ul>
                                <li>ADO.NET</li>
                                <li>SQL</li>
                                <li>SQL Server</li>
                                <li>SSMSE jQuery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Instructor</h4>
                    <h5>Sep. 2018 - Oct. 2020</h5>
                    <p><em>Fort Sill, OK</em></p>
                    <ul>
                        <li>Taught Field Artillery tactics and techniques to initial trainee Soldiers, preparing them for future service in the United States Army</li>
                        <li>Defined and articulated learning outcomes, including measurements, performance metrics and changes to improve student learning</li>
                        <li>Tested students on materials presented in a classroom and field environment to access grasp of material</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Team Leader</h4>
                    <h5>Apr. 2014 - Sep. 2018</h5>
                    <p><em>Fort Riley, KS</em></p>
                    <ul>
                        <li>Mentored and guided United States Army Soldiers, ensuring all were trained in Army tactics and capable of performing assigned duties</li>
                        <li>Directed personnel training and mentored team members to promote productivity, safety and commitment to unit’s mission</li>
                        <li>Demonstrated knowledge of company’s mission, purpose, goals and ability to help team members achieve them</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Team Member</h4>
                    <h5>Nov. 2011 - Apr. 2014</h5>
                    <p><em>Fort Campbell, KY</em></p>
                    <ul>
                        <li>Maintained team critical mission operations in line with Army Standards, established requirements and Army safety procedures</li>
                        <li>Performed preventative maintenance procedures to maintain optimal productivity and increased production in mission essential equipment</li>
                        <li>Maintained necessary level of communications between subordinates and supervisors</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

@* projects *@

<section class="page-section section-part bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-headline text-uppercase mb-5">Projects</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                        </div>
                        <img class="img-fluid project-logo" src="~/Content/assets/img/logos/front-end.jpg" alt="FED1" />
                    </a>
                    <div class="portfolio-caption text-center mt-4">
                        <h3 class="project-title text-uppercase">Front-End Studio</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                        </div>
                        <img class="img-fluid project-logo" src="~/Content/assets/img/logos/starwars.jpg" alt="space" />
                    </a>
                    <div class="portfolio-caption text-center mt-4">
                        <h3 class="project-title text-uppercase">Star Wars Dungeon</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                        </div>
                        <img class="img-fluid project-logo" src="~/Content/assets/img/logos/storefront.jpg" alt="storefont" />
                    </a>
                    <div class="portfolio-caption text-center mt-4">
                        <h3 class="project-title text-uppercase">Store Front</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                        </div>
                        <img class="img-fluid project-logo" src="~/Content/assets/img/logos/admin-tool.jpg" alt="admin" />
                    </a>
                    <div class="portfolio-caption text-center mt-4">
                        <h3 class="project-title text-uppercase">Scheduling Admin Tool</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="~/Content/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase text-center">Front-end studio</h2>
                            <img class="img-fluid d-block mx-auto my-2" src="/assets/img/logos/front-end.jpg" alt="" />
                            <p class="text-justify">A website for a fictional I.T. school built from a small business wireframe template. The website is built using HTML, CSS, JavaScript and jQuery. </p>
                            <a href="#" target="_blank" class="project-link text-uppercase text-center d-block text-decoration-none">Go to project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="~/Content/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase text-center">Star wars dungeon</h2>
                            <img class="img-fluid d-block mx-auto my-2" src="~/Content/assets/img/logos/starwars.jpg" alt="star wars" />
                            <p class="text-justify">A C# console Star Wars game in the style of classic dungeons and drangons games. Play as a young Jedi knight or a Mandalorian warrior and explore the galaxy fighting the biggest villians in the Star Wars universe. </p>
                            <a href="https://github.com/james479/StarWarsDungeon" target="_blank" class="project-link text-uppercase text-center d-block text-decoration-none">Go to project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="~/Content/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase text-center">Front-end studio</h2>
                            <img class="img-fluid d-block mx-auto my-2" src="~/Content/assets/img/logos/storefront.jpg" alt="store front" />
                            <p class="text-justify">Coming soon</p>
                            <!--<a href="#" target="_blank" class="project-link text-uppercase text-center d-block text-decoration-none">Go to project</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="~/Content/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase text-center">Front-end studio</h2>
                            <img class="img-fluid d-block mx-auto my-2" src="~/Content/assets/img/logos/admin-tool.jpg" alt="admin" />
                            <p class="text-justify">Coming soon</p>
                            <a href="#" target="_blank" class="project-link text-uppercase text-center d-block text-decoration-none">Go to project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="~/Content/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase text-center">Front-end studio</h2>
                            <img class="img-fluid d-block mx-auto my-2" src="/assets/img/logos/fed1-logo.jpg" alt="" />
                            <p class="text-justify">Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <a href="#" target="_blank" class="project-link text-uppercase text-center d-block text-decoration-none">Go to project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="~/Content/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase text-center">Front-end studio</h2>
                            <img class="img-fluid d-block mx-auto my-2" src="/assets/img/logos/fed1-logo.jpg" alt="" />
                            <p class="text-justify">Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <a href="#" target="_blank" class="project-link text-uppercase text-center d-block text-decoration-none">Go to project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Links *@

<section class="page-section section-part" id="team">
    <div class="container my-4">
        <div class="text-center">
            <h2 class="section-headline text-uppercase mb-5">centriq classmates</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.bryandoescode.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/1.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Bryan Clingan II</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.dillonfisher.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/2.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Dillon Fisher</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.rachelmantei.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Rachel Mantei</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.davidmuolo.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">David Muolo</h4>
                </div>
            </div><div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.dylanschwarz.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Dylan Schwarz</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.jeremysidener.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Jeremy Sidener</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="http://www.benslenker.com" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Ben Slenker </h4>
                </div>
            </div>
        </div>
    </div>
</section>

@* contact *@

<section class="page-section section-part bg-light" id="contact">
    <div class="container">
        <h1 class="section-headline text-center mb-5">Contact</h1>
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control mb-4" id="name" type="text" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control mb-4" id="email" type="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email address." />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" rows="8" id="message" placeholder="Your Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-xl text-uppercase p-3 mt-4" id="sendMessageButton" type="submit">Send Message</button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <script>
        $("header").addClass('header-main-page');

        $('#recipeCarousel').carousel({
            interval: 5000
        })

        $('.carousel .carousel-item').each(function () {
            var minPerSlide = 3;
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < minPerSlide; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
}
