
@{
    ViewBag.Title = "James Glover | Links";
}

@section Masthead {
    <section class="masthead masthead-other-pages text-center">
        <div>
            <h1 class="mt-5">Links</h1>
        </div>
    </section>
}

<section class="page-section py-5 bg-light" id="team">
    <div class="container my-4">
        <div class="text-center">
            <h2 class="section-headline text-uppercase mb-5">centriq classmates</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/1.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Bryan Clingan</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/2.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Dillon Fisher</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Rachel Mantei</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">David Muolo</h4>
                </div>
            </div><div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Dylan Schwarz</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Jeremy Sidener</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="class-mate text-center">
                    <a href="#" class="class-mate-photo" target="_blank">
                        <img class="mx-auto rounded-circle" src="~/Content/assets/img/team/3.jpg" alt="" />
                    </a>
                    <h4 class="mt-4">Ben Slenker </h4>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $("header").addClass('header-other-pages');
        $("header").addClass('header-links');
    </script>
}
