
@{
    ViewBag.Title = "James Glover | Resume";
}

@section Masthead {
<section class="masthead masthead-other-pages text-center">
    <div>
        <h1 class="mt-5">Resume</h1>
    </div>
</section>
}

<section class="resume">
    <div data-aos="fade-up">

        <div class="section-title">
            <h2 class="section-headline text-center mb-5">Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>James Glover</h4>
                    <p><em>Highly motivated United States Army veteran with skills in leadership, teamwork, problem solving and communication looking to transition into a career in software development. Experienced in daily assignments, employee training and adapting to change.</em></p>
                    <ul>
                        <li><a href="mailto:james.e.glover57@gmail.com" class="personal-info">james.e.glover57@gmail.com</a></li>
                        <li><a href="https://www.linkedin.com/in/james-glover-126105135/" class="personal-info">LinkedIn Page</a></li>
                        <li><a href="https://github.com/james479" class="personal-info">Github Page</a></li>
                    </ul>
                </div>

                <h3 class="resume-title school">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Web Developer Program</h4>
                    <h5>Dec. 2020 - Mar. 2021</h5>
                    <p><em>Centriq Training, Kansas City, MO</em></p>
                    <p>Core Competencies: MVC Framework, Website Deployment, Trouble Shooting and Debugging, Source Control, Code Review, Agile/Scrum</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science in Computer Science</h4>
                    <h5>Sep. 2014 - Dec. 2020</h5>
                    <p><em>University of Maryland Global Campus, Adelphi, MD</em></p>
                </div>
                <h3 class="resume-title school">Technical Skills</h3>
                <div class="resume-item">
                    <div class="d-flex justify-content-around">
                        
                        <div>
                            <h4>Front End</h4>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>jQuery</li>
                                <li>Bootstrap</li>
                                <li>ReactJS</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Middle Tier</h4>
                            <ul>
                                <li>C#</li>
                                <li>Java</li>
                                <li>ASP.NET</li>
                                <li>LINQ</li>
                                <li>MVC</li>
                                <li>EF</li>
                            </ul>
                        </div>
                        <div>
                            <h4>Back End</h4>
                            <ul>
                                <li>ADO.NET</li>
                                <li>SQL</li>
                                <li>SQL Server</li>
                                <li>SSMSE jQuery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Instructor</h4>
                    <h5>Sep. 2018 - Oct. 2020</h5>
                    <p><em>Fort Sill, OK</em></p>
                    <ul>
                        <li>Taught Field Artillery tactics and techniques to initial trainee Soldiers, preparing them for future service in the United States Army</li>
                        <li>Defined and articulated learning outcomes, including measurements, performance metrics and changes to improve student learning</li>
                        <li>Tested students on materials presented in a classroom and field environment to access grasp of material</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Team Leader</h4>
                    <h5>Apr. 2014 - Sep. 2018</h5>
                    <p><em>Fort Riley, KS</em></p>
                    <ul>
                        <li>Mentored and guided United States Army Soldiers, ensuring all were trained in Army tactics and capable of performing assigned duties</li>
                        <li>Directed personnel training and mentored team members to promote productivity, safety and commitment to unit’s mission</li>
                        <li>Demonstrated knowledge of company’s mission, purpose, goals and ability to help team members achieve them</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Team Member</h4>
                    <h5>Nov. 2011 - Apr. 2014</h5>
                    <p><em>Fort Campbell, KY</em></p>
                    <ul>
                        <li>Maintained team critical mission operations in line with Army Standards, established requirements and Army safety procedures</li>
                        <li>Performed preventative maintenance procedures to maintain optimal productivity and increased production in mission essential equipment</li>
                        <li>Maintained necessary level of communications between subordinates and supervisors</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    <script>
        $("header").addClass('header-other-pages');
        $("header").addClass('header-resume');
    </script>
}


